@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes skills-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.skills-scroll {
  animation: skills-scroll 25s linear infinite;
}

.skills-scroll:hover {
  animation-play-state: paused;
}