@import "tailwindcss";

/* Hide vertical scrollbar globally */
html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes skills-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.skills-scroll {
  animation: skills-scroll 25s linear infinite;
}

.skills-scroll:hover {
  animation-play-state: paused;
}